:root{
				--accent: #2e90f2;
			}
			*{
				font-family: Roboto;
				user-select: none;
			}
			body{
				background: #EEE;
				overflow: hidden;
			}
			#navbar{
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				background: #333;
				color: white;
				margin: 0;
				padding: 0;
				display: flex;
				border-bottom: .5vmin solid #222;
				z-index: 1;
			}
			.option{
				display: inline-block;
			/* 	height: 10vmin; */
				cursor: pointer;
				font-size: 3vmin;
				width: 20vmin;
				text-align: center;
				height: 6vmin;
				line-height: 6vmin;
				margin: 0;
				padding: 0;
				border-bottom: 0vmin solid var(--accent);
				box-sizing: border-box;
				transition: border .15s;
			}
			.option:hover{
			/* 	background: #222; */
				border-bottom: 6vmin solid var(--accent);
			}
			.sign{
				position: absolute;
				right: 0;
			}
			#logo{
				display: inline-block;
				background: white;
				color: #333;
				height: 5vmin;
				width: 5vmin;
				text-align: center;
				border-radius: 100%;
				vertical-align: middle;
				line-height: 5vmin;
				font-size: 5vmin;
				margin-left: 4vmin;
				margin-right: 4vmin;
				transform: translateY(.5vmin);
				cursor: pointer;
				transition: background .15s, transform .15s;
			}
			#logo:hover{
				background: var(--accent);
				transform: translateY(.5vmin) rotate(-45deg);
			/* 	color: white; */
			/* 	border: .4vmin solid white; */
				
			/* 	box-sizing: border-box; */
				
			}
			::-webkit-scrollbar {
			  width: 2vmin;
				
			}
			
			::-webkit-scrollbar-track {
			  background: transparent; 
			}
			
			::-webkit-scrollbar-thumb {
			  background: #888;
			}
			
			/* Handle on hover */
			::-webkit-scrollbar-thumb:hover {
			  background: #555;
			}
